@import 'resset.css';
body{
    background-color: #393E41;
    font-family: 'Raleway', sans-serif;
    cursor: context-menu;
}
#tabs .tab{
    display: inline-block;
    cursor: pointer;
    width: 241px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #D3D0CB;
}

.whiteborder{
    background-color: #587B7F;
}

#tabs .tabContent{
    width: calc(100%-10px);
    height: 560px;
    border-bottom: 10px solid #587B7F;
    position: relative;
    background-color: #D3D0CB;
    padding: 10px;
}

#tabs .show{
    display: block;
}

#tabs .hide{
    display: none;    
}
.selector{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#first_tab{
    border-radius: 0 0 20px 0;
}    
#second_tab{
    border-radius: 0 0 0 20px;
}
.inner_content{
    background-color: #D3D0CB;
    height: 100%;
}
#upper_part{

    display: flex;
    justify-content: center;
    margin-top: 125px;
    font-size: 20px;
    

}
.month_year{

    display: flex;
    align-items: center;

}
.month_year p{
    margin: 10px;
}

#lower_part{

    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    color: #1E2019;
}

#lower_part td ,th{

    padding: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.sat{
    color: #393E41;
}
.sun{
    color: #D4AD21;
}
thead tr td{
    font-weight: 700;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}
tbody tr td:hover{
    border: 1px solid black;
}
.today{
    background-color: #393E41;
    color: #D3D0CB;
}